	<div *ngIf="!showVid">
		<md-card-title color="Primary"> <div style="font-family: 'Pacifico', serif;">  Marital Rape  </div></md-card-title>
    	<md-card-subtitle color="Primary"> <div style="font-family: 'Pacifico', serif;"> It's Widespread</div></md-card-subtitle>
	</div>
<md-card-content align="center">
	<div *ngFor="let item of list" style="margin-bottom: 1%;">
		<app-list-item [show]="item" [clear]="cls"></app-list-item>
	</div>
	<div>
		<button md-raised-button class="demo-button" color="warn" *ngIf="!completedAnim" (click)="clearAnim()" [disabled]="!clearButton">Next >> </button>
		<button md-raised-button class="demo-button" color="primary" *ngIf="!(af.auth | async) && completedAnim && !back && !showVid" (click)="gotoConcent()" [disabled]="!gotoButton">Go to video >> </button>
		<button md-raised-button class="demo-button" color="primary" *ngIf="(af.auth | async) && completedAnim && !showVid && !back" (click)="gotoConcent()" [disabled]="!gotoButton">Go to video >> </button>
	</div>
	<div *ngIf="showVid">
		<md-card-title color="Primary"> <div style="font-family: 'Pacifico', serif;"> Learn about consent... </div></md-card-title>
    	<md-card-subtitle color="Primary"> <div style="font-family: 'Pacifico', serif;"> Bad Women can accuse rape if consent is not recorded</div></md-card-subtitle>
		<iframe class="vid" src="https://www.youtube.com/embed/Gp6alIALDHA" frameborder="0" allowfullscreen></iframe><br>
		<button md-raised-button (click)="education()" color="primary">Back to education</button>
	</div>
</md-card-content>